.container-fluid {
 /* max-width: 1800px;*/
  width: 100%;
 border: none !important;
}

span.size{ display: none; }

.menu-mobile {
  width: 100%;
  position: fixed;
  left: 0;
  top: -200%;
  bottom: 200%;
  right: 0;
  z-index: 1400;
  min-height: 100%;
  background-color: rgba(2, 26, 42, 0.85);
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-open .menu-toggle {
  display: none !important;
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  margin: 13px 0;
  float: left;
  position: relative;
}
.menu-open .menu-mobile nav {
	display: block;
}
.menu-close{
  display: none;
  position: absolute;
  cursor: pointer;
  top: 13px;
  right: 5px;
  z-index: 220;
}

.menu-close svg{
  width: 64px;
  height: 64px;
  position: relative;
  left: -2px;
  top: -1px;
  stroke: #ffffff;
}
.menu-close:active svg{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  stroke: #0b1f30;
  }
.menu-close:hover svg{
  stroke: #ffc100;
  }
  .menu-open {
    overflow: hidden;
  }
.menu-open .menu-close{display: block;}

.menu-open .menu-mobile nav li{
  display: block;
  padding: 8px 0;
}
.menu-open .menu-mobile nav a{
  text-transform: uppercase;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 0;
  padding: 0;
}

.menu-mobile{
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
 .modal-md{
    max-width: 390px;
  }
  .modal-lg{
    max-width: 710px;
  }

.modal-interest .modal-lg{
    max-width: 1018px;
  }
.modal-hash .modal-lg{
    max-width: 850px;
  }

.modal-addblock .modal-lg{
    max-width: 465px;
  }

@media (min-width: 1200px) { /* xl */
    .container-fluid {
        border: 1px solid orange;       
    }
    .widget header .user-panel{
      width: unset;
      margin-left: 70px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { /* lg */
  .container-fluid{
    border: 1px solid yellow;
  }
  header{
    z-index: 4;
    position: relative;
  }
  .widget header{
    z-index: 124;
  }
  .main-sidebar{
   /* position: absolute;*/
    position: fixed;
    background-color: rgba(44,50,56,0.8);
   }
  .main-content{
    width: 100%;
    margin-left: 0;
   /* position: relative;*/
  }

  .quantity{    
    display: inline-block !important;
  }

  .modal-interest .modal-lg{
    max-width: 100%;
  }
  .list .item .img{
    height: 160px;
  }
  .list-announcement-tile .item .img{
    height: 190px;
  }
  .list-announcement-tile .small .item .img{
  height: 220px;
  }
  .list .item .share span{
    margin-right: 3px;
    font-size: 10px;
  }
  .list .item .share span svg{
    margin-right: 3px;
  }
  .list-announcement-tile .large .item .date{
    font-size: 11px;
  }
  .list-announcement-tile .large .description{
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-announcement-tile .large .item .share{
    margin-right: 5px;
    padding-top: 21px;
  }
  body.widget > .content{
  height: calc(100% - 120px);
  overflow: hidden;
}
.main-content .page{
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 50%;
   -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    max-height: 100%;
    overflow: hidden;
}
.widget header .top-panel{
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto;
  width: 100%;
  background-color: #282d33;
  padding: 10px 0;
  text-align: center;
}
body.widget > .content{
  z-index: 121;
  overflow: hidden;
}
.widget .menu-toggle{
  float: right;
  margin-left: 100px;
  margin-right: 15px;
}
.widget {
  overflow: hidden;
}
.widget.sidebar-collapse .main-sidebar{
  right: -307px;
}
.widget.sidebar-collapse .main-content{
  width: 100%;
}

.widget .main-sidebar{
  height: calc(100% - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
}
 }


@media (min-width: 768px) and (max-width: 991.98px) { /* md  ipad*/
  .container-fluid{
    border: 1px solid cyan; 
  }
  .widget header{
    z-index: 124;
  }
  header .row{
    margin: 0;
  }
header  div[class*='col-']{
  padding: 0;
}
.logo{

  white-space: nowrap;
}
.logo img{width: 90%;}
.logo{margin: 8px 0 0 18px;}

  header .create-btn-cont .btn.create{
    padding: 0 25px 0 15px;
  }
  header .create-btn-cont .dropdown-toggle:after{
    right: 8px;
   }
   header .user-btn-cont{
    margin-right: 35px;
   }
  header .create-btn-cont{
    margin-right: 25px;
   }
   header .notifications-cont{
    margin-right: 37px;
   }
  .main-sidebar{
    position: fixed;/* absolute;*/
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    background-color: rgba(44,50,56,0.8);
    padding-top: 60px;
  }
  .main-content{
    width: 100%;
    margin-left: 0;
   /* position: relative;*/
  }
  .modal-interest .modal-lg{
    max-width: 100%;
  }
  .list .item .img{
    height: 180px;
  }

  .list-announcement-tile .item .img{
    height: 190px;
  }
  .list-announcement-tile .small .item .img{
  height: 220px;
  }
  .myblocks .item a{ 
  height: 210px;
}
.myblocks .small .item a,.myblocks .add-block{
  height: 65px;
  line-height: 65px;
}
.page.live-broadcast .head .user-info .name{
  margin-right: 50px;
}
.page.live-broadcast .head .player, .list{
  padding-left: 50px;
  padding-right: 50px;
}
.page.live-broadcast .head .user-info,.page.mychannel .head .user-info{
  padding-left: 50px;
}
.page.live-broadcast .head .user-info > div{
  width: calc(100% - 100px);
}
.page.mychannel .head .user-info > div{
  width: calc(100% - 200px);
  }
  .page.mychannel .head .icon{
    width: 150px;
    height: 150px;
  }
.modal-header button.close{
  right: 33px;
  top: 60px;
  position: fixed;
  z-index: 30;
}
.close svg{
  stroke: #9b9b9b;
}
.modal-lg, .modal-md{
  max-width: unset !important;
  width: 100%;
}
.modal-content, .modal-addblock .dropzone .dz-message span{
  border-radius: 0;
}
.in-wallet .score{
  font-size: 21px;
 }
 .wallet .btns a{
  width: auto;
  margin-right: 7px;
  padding-left: 18px;
  padding-right: 18px;
 }
 .payment-history .setup .row{
  margin: 0 -7px;
 }
 .payment-history .setup div[class*='col-']{
  padding: 0 7px;
 }

 .payment-history .item .description{
    width: calc(65% - 40px);
 }
 .payment-history .item .value{
  font-size: 16px;
  text-align: right;
  line-height: 20px;
  padding-right: 40px;
  width: 30%;
  position: relative;
  top: -10px;
 }
  .payment-history .item .status{
    padding-right: 23px;
    padding-left: 0;
    width: unset;
    float: right;
    right: 120px;
    position: absolute;
    top: 45px;
  }
 .payment-history .item .status:after{
    right: 0;
    left: auto;
 }
.payment-history .item{
  padding: 20px 50px;

}

body.widget > .content{
  height: calc(100% - 120px);
  min-height: calc(100% - 120px);
}
body.widget .main-content .page{
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 50%;
   -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.payment-history .item dd.link{
  top: 20px;
}
.wallet .total{
  font-size: 16px;
}
.wallet .total .income, .wallet .total .outcome{
  margin-left: 15px;
}
.settings .personal .icon{
  width: 145px;
  height: 145px;
}
.settings .personal .change-photo{
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(102, 111, 121, 0.5);
  left: 50%;
  margin-left: -35px;
  top: auto;
  bottom: 10px;
}
.settings .personal .change-photo span.msg-md{
  font-size: 14px;
  color: #aab1b8;
  top: -1px;
  height: unset;
}
.modal-addblock .dropzone.file-added .dz-message span.msg-md{
  top: 28px;
}
.modal-addblock .preview{
  position: relative;
  width: 100%;
  left: 0;
  margin: -60px 0 0;
  overflow: visible;
  height: 67px;
}
.modal-addblock .dropzone.file-added .preview{
  height: 109px;
}

.modal-addblock .dropzone .dz-message span.msg-md{
  text-transform: uppercase;
  color: #444c54;
  font-size: 14px;
  border: 1px solid #cdd0d2;
  border-radius: 20px;
  padding: 10px 70px;
  height: unset;
  width: unset;
  font-weight: bold;
  display: inline-block !important;
}
.modal-addblock .dropzone.file-added .dz-message span{
  background-color: #ffffff;
}
.dropzone .dz-preview.dz-image-preview{
  left: 0;
  width: 100%;
}

.settings .nav-item{
  margin-right: unset;
  -webkit-flex: 1 1 auto; 
  -ms-flex: 1 1 auto; 
  flex: 1 1 auto; 
  text-align: center;
}
.settings .nav-item a{
  display: inline-block;
}
/*.settings .nav-item:first-child{
text-align: left;
  }
.settings .nav-item:last-child{
  margin-right: 0;
  text-align: right;
}
*/
.settings .personal{
  padding-left: 190px;
  width: calc(100% - 30px);
}

.settings .integration .item .description{
  padding-left: 75px;
}
.settings .integration .item .form-group-checkbox{
  left: 7px;
  top: 45px;
}
.settings .integration .item .icon{
  left: 10px;
  width: 42px;
  height: 42px;
  line-height: 40px;
}
.settings .integration .item .icon svg{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.settings .integration .form-group input[type="checkbox"] + span{
  width: 45px;
  height: 25px;
}
.settings .notification .form-group input[type="checkbox"] + span{
  width: 45px;
  height: 25px;
  margin-left: -22px;
}
.settings .integration .form-group input[type="checkbox"] + span:after,.settings .notification .form-group input[type="checkbox"] + span:after{
  width: 21px;
  height: 21px;
}
.settings .integration .form-group input[type="checkbox"]:checked + span:after,.settings .notification .form-group input[type="checkbox"]:checked + span:after{
  left: 22px;
}
.settings .notification .item dd.event-name{
  width: 20%;
}
.settings .services-catalog .form-control{
  width: 50%;
}
.services-catalog .list.open .item{
  padding-bottom: 20px;
}
.services .list.open{
  padding-bottom: 10px;
}
.services-catalog .list .item .text{
  margin-top: 0;
  padding-top: 5px;
}
.form.interest .search-panel .search-input input[type="search"]{
  width: 100%;
}
.form.interest .search-panel .form-group-checkbox{
  margin-right: 25px;
}
.form.interest .list .form-group-checkbox label{
  height: 240px;
}
.form.interest .items-lifestyle .form-group-checkbox label{
  height: 188px;
}
.modal-interest .form.interest .list .form-group-checkbox label{
  height: 230px;
}
.modal-interest .form.interest .items-lifestyle .form-group-checkbox label{
  height: 180px;
}
.form.interest .list .form-group-checkbox label:after{
  background-color: #dbe0e6;
}
.form.interest .list .form-group-checkbox label i{
  color: #383e44;
}
 .modal-auth .form button, .modal-recovery-password .btn.recovery-send{
  left: 0;
  width: unset;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
 }
 .or{
  width: 75%;
  margin: auto;
 }
 .modal-auth .social{
  width: 100%;
  margin: auto;
 }
 .modal-auth .social a{
  margin: 0 4%;
 }

 .modal .form input[type="text"], .modal .form input[type="email"], .modal .form input[type="password"], .modal .form input[type="number"], .modal .form textarea,
 .dropzone .dz-message span,.trumbowyg-box, .trumbowyg-editor, .converter .half input{
  left: 0;
  width: 100%;
  border-radius: 0;
 }
.modal .form button{
  left: 0;
 }
 .modal-transfer-2 .btn-next{
  margin-right: 0;
 }
 .converter .go{
  margin-left: 18px;
  margin-right: 18px;
 }
 .bootstrap-select>.dropdown-toggle,.converter .label{
  border-radius: 0;
 }
 .votes input[type="number"]{
  border-radius: 20px;
 }
   .modal-announcement .remindme{
    margin-right: 45px;
  }

  .modal-dialog, .modal-dialog-centered{
    margin: 0 auto;
    background-color: #f8f8f9;
    min-height: 100%;

  }
.modal-content{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 50px;
  padding-right: 50px;
  }
.modal-auth .modal-content{
  padding-left: 110px;
  padding-right: 110px;
  }
.modal-auth .forget-password a{
  top: 82px;
}
.widget header .top-panel{
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto;
  width: 100%;
  background-color: #282d33;
  padding: 10px 0;
  text-align: center;
}
body.widget > .content{
  z-index: 121;
  overflow: hidden;
}
.widget .menu-toggle{
  float: right;
  margin-left: 100px;
  margin-right: 15px;
}
.widget {
  overflow: hidden;
}
.widget.sidebar-collapse .main-sidebar{
  right: -307px;
}
.widget.sidebar-collapse .main-content{
  width: 100%;
}

.widget .main-sidebar{
 /* height: calc(100% - 120px);*/
  overflow-y: scroll;
  overflow-x: hidden;
}

.settings .personal .change-photo{
  opacity: 1;
}

.settings .personal .dropzone .dz-message span.msg-lg{
  display: none !important
}
.confirm-transfer .key-file-field .ok, .confirm-transfer .key-file-field .error{
  left: 15px;
}
.dropzone .dz-preview{left: 60px;}
.modal-addservice .input .label{border-radius: 0;right: 5px;}
.modal .confirm-transfer, .modal .converter{
  border: none;
}
.modal-buydst .buttons, .modal-transfer .buttons, .modal-transfer-2 .buttons{
  top: auto;
  bottom: 50px;
  border: none;
  position: fixed;
  left: 70px;
  width: calc(100% - 140px);
}
.modal-addblock .title, .modal-transfer .title,.modal-transfer-2 .title,
.modal-transaction-successful .title,.modal-equiring .title,.modal-buydst .title,
.modal-hash .title,.modal-change-save .title,.modal-email-change .title,.modal-addservice .title{
  position: fixed;
  top: 38px;
  border: none;
}
.modal-widget .modal-dialog-centered{
  align-items: start;
}
header .btn.login{
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.modal-equiring .item{
  margin-bottom: 100px;
}
.modal-equiring .items{
  margin-bottom: -100px;
}
.input-with-label .label{
  right: 5px;
  border-radius: 0;
}
.form .info{
  text-align: center;
}


.modal-widget:after{
  position: absolute;
  left: calc(33.333333% + 15px);
  top: 0;
  height: 100%;
  width: calc(66.666667% - 15px);
  content: "";
  background-color: #edeeef;
  z-index: 1;
}
.modal-widget:before{
  position: absolute;
  width: calc(33.333333% + 15px);
  top: 0;
  height: 100%;
  left: 0;
  content: "";
  background-color: #f8f8f9;
  z-index: 1;
}
.modal-widget-fx:after{
  left: calc(25% + 15px);
  width: calc(75% - 15px);
}
.modal-widget-fx:before{
  width: calc(25% + 15px);
  left: 0;
}


.modal-widget .modal-dialog{
  position: relative;
}
.modal-widget .modal-dialog:after{
  position: absolute;
  left: 0;
  top: 160px;
  height: calc(100% - 160px);
  width: calc(16.6666667% + 16px);
  border-right: 1px solid #e6e8ec;
  content: "";
  background-color: #ffffff;
  z-index: 1;
}
.modal-widget .modal-dialog.one-level-menu:after{
  display: none;
  }

.modal-widget .widget-panel .menu ul{
  left: -40px;
  width: calc(100% + 62px);
}
.modal-widget .widget-panel .menu ul > li{
  width: calc(50% + 8px);
}
.modal-widget .widget-panel .menu li .submenu{
  width: calc(50% - 8px);
  left: calc(50% + 8px);
}
.modal-widget .current-content:after{
  display: none;
}
.modal-widget .modal-content,.modal-widget .current-content{
  background-color: transparent;
}
.modal-widget .modal-header button.close{
  top: 40px;
}
.modal-widget .modal-dialog{
  position: relative;
  z-index: 5;
  background-color: transparent;
}
.modal-widget .search-panel{
  width: calc(100% - 15px);
  left: 0;
}
.modal-widget .modal-body{
  padding: 25px;
}
.modal-widget .search-input input[type="search"]{
 border-radius: 0;
 padding-left: 43px;
 left: 0;
}
.modal-widget .form .search-input .btn{
  left: 15px;
}
.modal-widget .current-content > .inner{
  padding-left: 35px;
}
.modal-widget .current-content button[type="submit"]{
  position: fixed;
  bottom: 70px;
  left: calc(66.666667% + 20px);
}
.modal-widget .widget-panel .menu:after,.modal-widget .widget-panel .menu:before{
  display: none;
}
}

.rotate-warning{display: none;}

@media (min-width: 576px) and (max-width: 767.98px) { /* sm */
  body *{display: none;}
 }


 @media (max-width: 575.98px) { /* xs */
  body *{display: none;}
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 991.98px) {
  .rotate-warning{
    display: block;
    position: absolute;
    width: 520px;
    left: 50%;
    margin-left: -260px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 500;
    line-height: 40px;
    font-size: 30px;
    color: #aab1b8;
    padding-left: 60px;

  }
.rotate-warning svg{
  width: 48px;
  height: 48px;
  fill: #aab1b8;
  position: absolute;
  left: 0;
  top: 15px;
}



  .widget header, .widget .content {display: none;}
}

@media (orientation: landscape) and (min-width: 768px) and (max-width: 991.98px) {
 .rotate-warning{display: none;}
}